.title {
  @apply relative block bg-color1 w-9/12 mb-6;
}

.h3 {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  display: inline-block; /* Keep the text inline with the container */
}
